target
.vim/*
.DS_Store
examples/*/__pycache__/
/.vscode
*.log
note/*
testbench/simulator/ext
testbench/simulator/build
tutorials/*
!tutorials/*.qmd
!tutorials/*.py
.cache
workspace/*
**/.claude/settings.local.json
