target
.vim/*
.DS_Store
examples/*/__pycache__/
/.vscode
*.log
note/*
tools/c-ramulator2-wrapper/build
tutorials/*
!tutorials/*.qmd
!tutorials/*.py
.cache
.sim-runtime-cache
workspace/*
**/.claude/settings.local.json
Cargo.lock

*.sif
